/* Global Reset and Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f9f5fa;
    color: #000000;

    background-image:
        linear-gradient(rgba(210, 195, 170, 0.12) 1px, transparent 1px),
        linear-gradient(90deg, rgba(210, 195, 170, 0.12) 1px, transparent 1px);

    background-size: 50px 50px;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #00c6ff, #0072ff);
    border-radius: 10px;
}

/* Header / Navbar Styling */
.header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-wrap: no-wrap;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.logo span {
    background: linear-gradient(to right, #f857a6, #ff5858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    position: relative;
    color: white;
    font-weight: 300;
}

.nav-links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    top: 25px;
    border-radius: 5px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    transition: width 0.3s ease;
}

.nav-links a:hover::before {
    width: 100%;
}

/* Buttons */
.visit-btn, .btn {
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    text-wrap: no-wrap;
    transition: transform 0.3s ease, background 0.3s ease;
}

.visit-btn {
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

.visit-btn:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #ff5858, #f857a6);
}

.btn {
    background-color: white;
    color: black;
    border: 2px solid black;

    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: 500;

    cursor: pointer;
    text-wrap: no-wrap;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: black;
    color: white;
}

/* Contact Button */
.contact-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* About Buttons */
.button-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* Social Icons */
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;

    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 50%;

    color: black;
    font-size: 1.4rem;

    transition: all 0.3s ease;
}

.socials a:hover {
    background-color: black;
    color: white;
    transform: translateY(-5px);
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* Base Section Configurations */
section {
    min-height: auto;
    padding: 6rem 12%;
    width: 100%;
    position: relative;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* PHOTO + INTRO */
.about-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.about-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-photo img {
    width: 22vw;
    max-width: 330px;
    min-width: 240px;
    border-radius: 50%;
}

/* RIGHT SIDE INTRO */
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
}

.info-box .text h3 {
    font-size: 1.4rem;
    font-weight: 400;
    color: gray;
}

.info-box .text h1 {
    font-size: 3.3rem;
    margin: 0.3rem 0;
}

.info-box .text span {
    font-size: 1.7rem;
    font-weight: 600;

    background: linear-gradient(to right, #f857a6, #ff5858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ABOUT MYSELF */
.about-summary {
    width: 100%;
    margin-top: 3rem;
    text-align: left;
}

.about-summary h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;

   background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-summary p {
    width: 100%;
    font-size: 0.95rem;
    line-height: 1.7;
    text-align: left;
}

/* Education Section */

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.education-container {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
}

.education-card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 2.5rem;

    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 3rem;

    transition: all 0.3s ease;
}

.education-card:hover {
    background-color: black;
    color: white;
    transform: translateY(-8px);
}

.education-icon {
    min-width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 50%;

    font-size: 2.2rem;
}

.education-card:hover .education-icon {
    border-color: white;
}

.education-content h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;

    background: linear-gradient(to right, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.education-content h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.education-content span {
    font-size: 1rem;
    opacity: 0.7;
}

.education-content p {
    margin-top: 0.7rem;
    font-size: 0.95rem;
}

/* Skills Section */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-subtitle {
    text-align: center;
    font-size: 1rem;
    margin-top: -2rem;
    margin-bottom: 3rem;
    opacity: 0.7;
}

.skills-grid {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
}

.skill-card {
    position: relative;
    border: none;
    border-radius: 1.5rem;
    padding: 1.5rem 1rem;
    min-height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: white;
    overflow: hidden;
    z-index: 1;

    cursor: pointer;
}

.skill-card::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;

    background: conic-gradient(
        from 0deg,
        #00c6ff,
        #0072ff,
        #8a2be2,
        #00c6ff
    );

    animation: rotateBorder 4s linear infinite;

    z-index: -2;
}

.skill-card::after {
    content: "";
    position: absolute;
    inset: 2px;

    background: white;
    border-radius: 1.35rem;

    z-index: -1;
}

@keyframes rotateBorder {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.skill-card i,
.skill-card span,
.skill-card small {
    position: relative;
    z-index: 2;
}

.skill-card i {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.skill-card span {
    font-size: 1.1rem;
    font-weight: 600;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill-card small {
    margin-top: 0.4rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: #000000;
    opacity: 1;
}

/* Hover Effect */
.skill-card:hover {
    transform: translateY(-8px);
    box-shadow:
        0 0 15px rgba(0, 198, 255, 0.25),
        0 0 30px rgba(0, 114, 255, 0.15);
}

.skill-card:hover span {
    color: #00c6ff;
}

/* Experience Section Layout */

.experience-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.experience-info .grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.experience-info img {
    width: 30%;
    max-width: 450px;
    border-radius: 3rem;
    object-fit: cover;
}

.grid-card {
    width: 100%;
    border: 2px solid black;
    border-radius: 3rem;
    padding: 3rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    cursor: pointer;
    transition: all 0.3s ease;

    background-color: #ffffff;
}

.grid-card:hover {
    transform: scale(1.03);
    background-color: black;
    color: white;
}

.grid-card i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.grid-card span {
    font-size: 1.25rem;
    font-weight: 600;

    background: linear-gradient(to right, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Projects Section Layout */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    border: 2px solid black;
    border-radius: 3rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ffffff;
}

.project-card img {
    width: 20vw;
    border-radius: 1.5rem;
}

.project-card h3 {
    font-size: 2rem;
    font-weight: 500;
}

.project-card:hover {
    background-color: black;
    color: white;
    transform: translateY(-10px) scale(1.02);
}

.project-card:hover .btn {
    border-color: white;
    color: white;
}

.project-card:hover .btn:hover {
    background-color: white;
    color: black;
}

/* Contact Section Layout */
.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.input {
    position: relative;
}

.input input {
    border: 2px solid black;
    border-radius: 1.5rem;
    padding: 2rem 8rem;
    font-size: 1.5rem;
}

.input input::placeholder {
    font-size: 1.5rem;
}

.input i {
    position: absolute;
    font-size: 2.5rem;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.contact form .input {
    width: 100%;
}

.contact textarea {
    width: 100%;
    min-height: 150px;
    border: 2px solid black;
    border-radius: 1.5rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    resize: vertical;
}

.contact textarea::placeholder {
    font-size: 1.2rem;
}

/* Footer Layout */
.footer {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-links a {
    color: black;
    font-weight: 600;
}

.copyright {
    font-weight: 300;
    margin-top: 0.5rem;
}

/* Responsive Media Queries */
@media (max-width: 1280px) {
    .header { padding: 1rem 2rem; gap: 1rem; }
    .about-container, .experience-info { gap: 2rem; }
    .experience-info { flex-direction: column; }
    .input input { padding: 1.5rem 6rem; font-size: 1.25rem; }
    .input input::placeholder { font-size: 1.25rem; }
    .input i { font-size: 2rem; }
    .skills-grid {grid-template-columns: repeat(3, 1fr); }
    .experience-info .grid {
    width: 100%;
}

.experience-info img {
    width: 30%;
}
}

@media (max-width: 768px) {
    .header { padding: 1rem 5rem; }
    #menu-icon { display: block; }
    .visit-btn { display: none; }
    
    .nav-links {
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        left: 0;
        width: 100%;
        padding: 1rem;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 1.5rem;
    }
    
    .nav-links.active {
        display: block;
    }

    .nav-links li {
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .about-container { flex-direction: column; }
    .about-photo img {
    width: 55vw;
    min-width: 180px;
}
    .grid { grid-template-columns: 1fr; }
    .skills-grid {grid-template-columns: repeat(2, 1fr);}
    .skill-card {  min-height: 130px; padding: 1rem; }
    .experience-info img { width: 50vw; }
    .input input { width: 80%; padding: 1rem 2rem; font-size: 1rem; }
    .input input::placeholder { font-size: 1rem; }
    .input i { display: none; }
    .footer-links { gap: 1rem; }
    .education-card {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1.5rem;
}

.education-icon {
    min-width: 65px;
    height: 65px;
    font-size: 1.8rem;
}

.education-content h3 {
    font-size: 1.3rem;
}

.education-content h4 {
    font-size: 1rem;
}
}